<div class="jumbotron">
  <center>
  <div class="row">
    <div class="col-6 col-md-4">
      <h3>HMNY</h3>
    </div>
    <div class="col-6 col-md-8"> Helios and Matheson Analytics Inc.</div>
  </div>
  <div class="row justify-content-center">
    <div class="col-6 col-md-4">BID
      <br>
      <h5>$0.05
        <br> X 13700</h5>
    </div>
    <div class="col-6 col-md-4">LAST TRADED PRICE
      <br>
      <h1>$0.0509</h1>
    </div>
    <div class="col-6 col-md-4">OFFER
      <br>
      <h5>$0.0509
        <br> X 96300</h5>
    </div>
</div>
<div class="row">
  <div class="col-6 col-md-4">ARCX</div>
  <div class="col-6 col-md-4">XADF</div>
  <div class="col-6 col-md-4">ARCX</div>
</div>
  <div class="form-row">
    <div class="col form-group">
      <label>SHARES</label>
      <input type="text" class="form-control col-md-6" placeholder="Quantity">
    </div>
    <!-- form-group end.// -->
    <div class="col form-group">
      <label>PRICE</label>
      <input type="text" class="form-control col-md-6" placeholder="Market">
    </div>
    <!-- form-group end.// -->
</div>
  <div class="row justify-content-center">
    <div class="col-6">
      <button type="button" class="btn btn-primary">BUY</button>
    </div>
    <div class="col-6">
      <button type="button" class="btn btn-danger">SELL</button>
    </div>
  </div>
  <div class="row">
  <div class="col-12"><br><h5>Holdings: 10000 shares</h5></div> 
</div>
  </center>
</div>